<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="manifest" href="/manifest.json">
        <link rel="icon" href="/images/plant-icon.png" type="image/x-icon">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="/javascripts/db.js"></script>
        <script src="/javascripts/index.js"></script>
        <script src="/javascripts/idb-utility.js"></script>
        <script src="/javascripts/search.js"></script>
    </head>
    <body>
        <%- include('header.ejs') %>
        <div class="index_grid">
            <div class="plant_container">
                <% data.forEach(plant => { %>
                    <div class="plant_card" onclick="window.location.href='/plant/<%= plant._id %>'">
                        <div class="plant_image">
                            <img src="<%= plant.photo %>" alt="<%= plant.identification.name %>" />
                        </div>
                        <div class="plant_info">
                            <h2><%= plant.identification.name %></h2>
                            <p>By <%= plant.userNickname %> on <%= plant.dateTimeSeen.split('T')[0] %> <%= plant.dateTimeSeen.split('T')[1].split('.')[0] %></p>
                        </div>
                    </div>
                <% }); %>
            </div>
            <%- include('search.ejs') %>
        </div>
    </body>

</html>
