<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="manifest" href="/manifest.json">
        <link rel="icon" href="/images/plant-icon.png" type="image/x-icon">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="/javascripts/plant.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
              integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
              crossorigin=""/>
        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
                integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
                crossorigin=""></script>
    </head>
    <body>
        <%
        function getSunExposureName(value) {
            switch(value) {
                case 'fullSun':
                    return 'Full Sun';
                case 'partialShade':
                    return 'Partial Shade';
                case 'fullShade':
                    return 'Full Shade';
                default:
                    return value;
            }
        }

        function getStatusName(value) {
            switch(value) {
                case 'completed':
                    return 'Completed';
                case 'inProgress':
                    return 'In Progress';
            }
        }

        function formatDate(date) {
            return `${date.split('T')[0]} ${date.split('T')[1].split('.')[0]}`;
        }
        %>
        <%- include('header.ejs') %>
        <div class="plant_grid">
            <div class="plant_card">
                <div class="plant_image">
                    <img src="../<%= data.photo %>" alt="<%= data.identification.name %>" />
                </div>
                <div class="plant_info">
                    <div class="suggest-name">
                        <h2><%= data.identification.name %></h2>
                        <div class="suggest-name-input">
                            <input type="text" id="searchInput" name="searchInput" placeholder="Suggest change" list="searchResults">
                            <datalist id="searchResults"></datalist>
                            <button class="search_button" id="searchButton">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-send"><path d="m22 2-7 20-4-9-9-4Z"/><path d="M22 2 11 13"/></svg>
                            </button>
                        </div>
                    </div>

                    <p>By <%= data.userNickname %> on <%= formatDate(data.dateTimeSeen) %></p>
                    <p><strong>Status:</strong> <%= getStatusName(data.identification.status) %></p>
                    <p><strong>DBPedia URI:</strong> <a href="<%= data.identification.dbpediaURI %>" target="_blank"><%= data.identification.dbpediaURI %></a></p>
                    <p><strong>Description:</strong></p>
                    <p><%= data.description %></p>
                    <p><strong>Height:</strong> <%= data.plantSize.height %> cm</p>
                    <p><strong>Spread:</strong> <%= data.plantSize.spread %> cm</p>
                    <p><strong>Flowers:</strong> <%= data.plantCharacteristics.hasFlowers ? 'Yes' : 'No' %></p>
                    <p><strong>Leaves:</strong> <%= data.plantCharacteristics.hasLeaves ? 'Yes' : 'No' %></p>
                    <p><strong>Fruits/Seeds:</strong> <%= data.plantCharacteristics.hasFruitsOrSeeds ? 'Yes' : 'No' %></p>

                    <p><strong>Sun Exposure:</strong> <%= getSunExposureName(data.plantCharacteristics.sunExposure) %></p>
                    <% if (data.plantCharacteristics.flowerColor) { %>
                        <p><strong>Flower Color:</strong> <%= data.plantCharacteristics.flowerColor %></p>
                    <% } %>
                    <p><strong>Location:</strong></p>
                    <div id="map" style="height: 200px;"></div>
                    <script>
                        const map = L.map('map').setView([<%= data.location.coordinates %>], 13);

                        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
                            maxZoom: 18,
                        }).addTo(map);

                        const marker = L.marker([<%= data.location.coordinates %>]).addTo(map);
                    </script>
                </div>
            </div>
            <div class="plant_chat">
                <div class="suggestions_card">
                    <h2>Suggestions</h2>
                    <div class="suggestions">
                        <input type="hidden" id="nicknameInput" name="nicknameInput">
                        <% data.suggestions.forEach(suggestion => { %>
                            <div class="suggestion">
                                <p>- <strong><%= suggestion.userNickname %></strong> suggested <a href="<%= suggestion.dbpediaURI %>"><%= suggestion.name %></a> on <%= formatDate(suggestion.timestamp) %> </p>

                                <button class="accept_suggestion" data-suggestion-id="<%= suggestion._id %>" data-status="<%= data.identification.status %>" data-nickname="<%= data.userNickname %>">
                                    Accept
                                </button>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>